@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-900/40 dark:bg-neutral-200/20;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-indigo-500 rounded-lg;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-400;
  }
  body {
    @apply bg-slate-200 dark:bg-gray-800 text-gray-900 dark:text-neutral-200;
    font-family: "Fredoka", sans-serif;
  }
}

@layer components {
  .headline-container:hover h2,
  .headline-container:hover .arrow {
    @apply text-indigo-400;
  }
  .input {
    @apply w-full px-2 py-1 placeholder:text-gray-900/40 dark:placeholder:text-neutral-200/20 bg-slate-200 dark:bg-gray-800 outline-none border border-gray-900/10 dark:border-neutral-200/10;
  }
}
